body {
    margin: 40px auto;
    max-width: 850px;
    line-height: 1.6;
    color: #444;
    padding: 0 10px;
    word-wrap: break-word; /* stops words exceeding containers */
    text-size-adjust: 100% !important; /* Fixes mobile messing up text sizes */
}

pre {
  white-space: pre-wrap; /* break lines */
}

algorithm {
  display: table;
  border: solid 1px;
  padding: 1em;
  margin: 1em;
  white-space: pre;
}

a {
  color: #444;
  text-decoration: none;
}

h1,
h2,
h3 {
    line-height: 1.2
}

div.header h1 {
    padding-top: 0;
    padding-bottom: 8px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid;
}

.header-menu {
    float: right;
}

ul.pagination {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

ul.pagination > li {
    padding: 0 8px;
    display: inline-block;
}

div.footer {
    border-top: 1px solid;
    text-align: center;
}
