{{ define "main" }}

<div style="font-size:20px; margin-top: 5px; margin-bottom: 20px;">
&nbsp;&nbsp;|&nbsp;&nbsp;
<b>Publications and preprints</b>

<br>

<ul>
<li>
Austin Brown and Galin L. Jones, “Exact convergence analysis for Metropolis–Hastings independence samplers in Wasserstein distances,” Journal of Applied Probability, p. 1–22,
2023.
<b><a target="_blank" href="https://www.cambridge.org/core/journals/journal-of-applied-probability/article/exact-convergence-analysis-for-metropolishastings-independence-samplers-in-wasserstein-distances/89EC23E4455F6A7B5C112B96D0E98192">[paper]
<a></b>   
</li>

<li>
Austin Brown and Galin L. Jones, “Lower bounds on the rate of convergence for accept-reject-based Markov chains,” preprint, 2022.
<b><a target="_blank" href="https://arxiv.org/abs/2212.05955">
[paper]
<a></b>
</li>

<li>
Austin Brown, “Geometric ergodicity of Gibbs samplers for Bayesian error-in-variable
regression,” preprint, 2023
<b><a target="_blank" href="https://arxiv.org/abs/2209.08301">
[paper]
<a></b>
</li>


</ul>
</div>

<div style="font-size:20px; margin-top: 5px; margin-bottom: 20px;">
&nbsp;&nbsp;|&nbsp;&nbsp;
<b>Invited talks and posters</b>
<br>

<ul>

<li>
Lower Bounds on the Rate of Convergence for Accept-Reject-Based Markov Chains, Algorithms and Computationally Intensive Inference seminars, University of Warwick
<b><a target="_blank" href="/slides/warwick2023.pdf">[slides]<a></b>
</li>

<li>
Exact convergence for independence samplers in Wasserstein distance, University of Warwick Departmental Conference 2023
<b><a target="_blank" href="/slides/warwick_departmental_2023.pdf">[slides]<a></b>
</li>

<li>
Geometric Ergodicity of Gibbs Samplers for Bayesian Error-in-variable Regression, Bioinference 2023, Oxford University 
<b><a target="_blank" href="/poster/bioinference2023.pdf">[poster]</a></b>
</li>


</ul>
</div>

<div style="font-size:20px; margin-top: 5px; margin-bottom: 20px;">
&nbsp;&nbsp;|&nbsp;&nbsp;
<b>Statistics packages</b>
<br>

<ul>

<li>
cmhi: a Python package for the centered Metropolis-Hastings independence algorithm.
<b><a target="_blank" href="https://github.com/austindavidbrown/Centered-Metropolis-Hastings">[Github link]<a></b>
</li>

<li>
mhlb: a Python implementation to estimate lower bounds on the geometric convergence rate for RWM Metropolis-Hastings.
<b><a target="_blank" href="https://github.com/austindavidbrown/Centered-Metropolis-Hastings">[Github link]<a></b>
</li>

</ul>
</div>

<!--
{{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
{{ range .Paginator.Pages }}

<a href="{{ .RelPermalink }}">
<h1>{{- .Title | markdownify }}</h1>
</a>

{{ partial "post_meta.html" . }}

{{ .Content }}

{{ end }}

{{/* Display paginator */}}
{{ template "_internal/pagination.html" . }}
-->

{{ end }}