{{ block "header" . }}
<div class="header">
    <h1>
      <img width="50" style="border-radius: 50%; vertical-align:middle; margin-right: 10px;" src="/profile.jpg">

      <a href="{{ .Site.BaseURL | relLangURL }}"><b>{{- .Site.Title -}}</b></a>
      
      {{- range .Site.Menus.main -}}
      &nbsp;&nbsp;|&nbsp;&nbsp;
        {{ if eq (hasPrefix .URL "mailto:") true }}
          <a href="{{ .URL }}">{{- .Name -}}</a>
        {{ else }}
          <a href="{{ .URL | relLangURL }}">{{- .Name -}}</a>
        {{- end -}}
      {{ end }}
    </h1>
</div>
{{ end }}