{{ block "header" . }}
<div class="header">
    <h1>
      <center>

      <!-- <img width="100" style="border-radius: 50%; vertical-align:middle; margin-right: 10px;" src="/profile.jpg"> -->

      <div style="margin-bottom: 5px;"></div>

      <a style="font-size:40px;" href="{{ .Site.BaseURL | relLangURL }}"><b>{{- .Site.Title -}}</b>
      </a>
      <p>
        I am a Postdoctoral Researcher in statistics at the University of Toronto supervised by Jeffrey Rosenthal. Previously, I was a Research Fellow at the University of Warwick supervised by Krzysztof Łatuszyński. I completed my PhD in statistics at the University of Minnesota, Twin Cities in August 2022 where my advisor was Galin Jones.
      </p>

      <p>
        My main research focus is on the analysis and computational efficiency of Markov chain Monte Carlo algorithms. Creating reliable, computational efficient Markov chain Monte Carlo algorithms for practitioners is the main motivation for my research. My other research interests are in optimal transportation, stochastic optimization, stochastic processes, and error-in-variable models.
      </p>  

      <div style="font-size:20px; margin-top: 5px; margin-bottom: 10px;">
        <a href="https://scholar.google.com/citations?user=c0ux1WQAAAAJ" target="_blank"><b>Publications</b></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="cv.pdf"><b>Curriculum vitae</b></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://github.com/austindavidbrown"><b>Github</b></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://linkedin.com/in/austindavidbrown/"><b>Linkedin</b></a>
      </div>

      <div style="font-size:20px; margin-top: 5px; margin-bottom: 20px;">
        <a href="/post"><b>Posts</b></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/categories"><b>Categories</b></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/tags"><b>Tags</b></a>
      </div> 
      </center>
    </h1>
</div>
{{ end }}